*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.background-container{
  height: 100vh;
  width: 100vw;
  background-color: #e4e4be;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  height: 60vh;
  width: 60vw;
  background-color: #fdfdfd;
  display: flex;
  flex-wrap: wrap;
}

.divRow{
  flex-grow: 1;
  border: solid red;
}


