*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --num-divs: 16;
}

.background-container{
  height: 100vh;
  width: 100vw;
  background-color: #e4e4be;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  height: 600px;
  width: 600px;
  background-color: #fdfdfd;
  display: flex;
  flex-wrap: wrap;
}

.divRow {
  display: flex; 
  height: calc(100% / var(--num-divs));
}

.divCol {
  flex: 1 0 auto;
  border: 1px solid #000; 
  width: calc(100% / var(--num-divs));
}
