*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

:root {
  --grid-size: 24;
}

body{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header{
  width: 100%;
  height: 120px;
  background-color: #111111;
  display: flex;
  align-items: end;
  justify-content: center;
  font-family: 'Rubik Doodle Shadow', sans-serif;
  font-size: 60px;
  color:rgb(35, 233, 45)
}

.background-container{
  flex-grow: 1;
  background-color: #111111;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.game-container{
  height: 650px;
  width: 650px;
  background-color: rgb(32, 32, 32);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.grid{
  height: 600px;
  width: 600px;
  background-color: #fdfdfd;
  display: flex;
  flex-wrap: wrap;
}

.divRow {
  display: flex; 
  height: calc(100% / var(--grid-size));
}

.divCol {
  flex: 1 0 auto;
  border: 1px solid #6e6969; 
  width: calc(100% / var(--grid-size));
}

.controls-container{
  height: 650px;
  width: 300px;
  background-color: rgb(32, 32, 32);
  display:flex;
  flex-direction: column;
  align-items: center;
}

input[type="range"] {
  -webkit-appearance: none;
   appearance: none;
   background: transparent;
   cursor: pointer;
   margin: 40px 0 8px 0;
   width: 240px;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: rgb(35, 233, 45);
  border-radius: 3px;
  height: 2px;  
}


input[type="range"]::-webkit-slider-thumb {
 -webkit-appearance: none; 
  appearance: none;
  margin-top: -9px;
  background-color: rgb(35, 233, 45);
  height: 20px;
  width: 20px; 
  border-radius: 20px;
}

.grid-size-text{
  color: white;
  font-size: 16px;
  color: rgb(35, 233, 45);
  margin: 8px 0 40px 0;
}

.clearGridButton, .toggleGridButton, .toggleEraserButton, .toggleRainbowButton, .toggleShadingButton{
  width: 240px;
  height: 35px;
  margin: 10px 10px;
  padding: 5px 0 5px 0;
  font-size: 15px;
  color: rgb(35, 233, 45);
  border: 1px solid rgb(35, 233, 45); 
  background-color: #353535;
}

.is-on{
  color: black;;
  border: 1px solid rgb(35, 233, 45); 
  background-color: rgb(35, 233, 45);
}

label{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: rgb(35, 233, 45);
  margin: 30px 0 10px 0;
}

.color-picker{
  background: none;
  border: none;
  width: 100px;
  height: 50px;
  margin-bottom: 30px;
}

.credits{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: white;
  order: 1;
  margin-top: 90px;
}

.github-logo{
  order: 2;
  margin-top: 5px;
}

.github-logo img{
  width: 40px;
}